/*ESTILOS GENERALES*/
:root {
    --color1: #e9e6e4;
    --color2: #d5b09c;
    --color3: #ebcdc4;
    --color4: #7e9693;
    --color5: #204045;
    --colorEditar: #1cddda;
    --colorEliminar: #ff4744;
    --colorSuccess: #09de09;
}

body {
    background-color: var(--color3);
    background-image: url('../img/FondoLogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Playwrite NG Modern", cursive, Arial, Helvetica;
    color: var(--color5);
    text-align: center;
    padding: 0px;
    margin: 0px;
}