/* Login.css */

:root {
    --color1: #e9e6e4;
    --color2: #d5b09c;
    --color3: #ebcdc4;
    --color4: #7e9693;
    --color5: #204045;
    --color6: #a4908a;
    --colorEditar: #d0dd1cd2;
    --colorEditarHover: #d0dd1c;
    --colorEliminar: #ff4744cc;
    --colorEliminarHover: #ff4744;
    --colorGuardar: #7bd900c3;
    --colorGuardarHover: #79d600;
    --colorSuccess: #09de09b2;
    --colorWhite: white;
    --colorBlack: black;
}

body {
    background-color: var(--color3);
    background-image: url('../img/FondoLogin.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Poppins", sans-serif;
    color: var(--color5);
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Header */

.layout__navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0px 20px;
}

.header_logo {
    width: 40px;
    opacity: 0.7;
}

.navbar__header {
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 10px;
}

.navbar__logo-image {
    height: 40px;
    width: auto;
}

.navbar__title {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar__title:hover {
    color: #1cddda;

}

.navbar__container-lists {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}



/* Nav.css */


.container-lists__menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list__item {
    display: flex;
    align-items: center;
}

.menu-list__link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    transition: background-color 0.7s ease;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-list__link:hover {
    background-color: var(--color4);
    color: var(--color5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-list__link i {
    margin-right: 8px;
}

.menu-list__title {
    font-size: 16px;
    font-weight: bold;
}

/* Container Login */

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    background-color: #39393971;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    max-height: 800px;
}

.form-login {
    min-width: 95%;
}

.sign-up {
    height: 100vh;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {}

.login-header {
    margin-bottom: 20px;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 30px;
    color: var(white);
    margin: 20px;
    margin-bottom: 10px;
}

.social-icon {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0 15px 0 15px;
    color: var(white);
}

.fa-brands {
    color: white;
}

.remember-forgot {
    display: flex;
    padding: 15px;
}

.buttons-login-label {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember-forgot a,
.buttons-login-label a {
    text-decoration: none;
    color: grey;
    margin-left: 10px;
}

.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons-login {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.remember-forgot a:hover {
    color: white
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group .icon {
    position: absolute;
    margin-top: 3px;
    margin-right: 3px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--color5);
}

.form-group input,
.form-group textarea,
.form-group__edit input,
.form-group__edit textarea {
    width: 100%;
    padding: 0.4rem;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 25px;
    resize: none;
}

.form-group__edit {
    display: flex;
    align-items: stretch;
}

.form-group__edit input,
.form-group__edit textarea {
    margin: 0.3rem;
    color: var(--color5);
    font-weight: 300;
    border: none;
    border-radius: 0.4rem;
    flex: 1;
    gap: 0.1rem;
}

.btn-success {
    background-color: var(--colorSuccess);
    border: none;
    color: var(--colorWhite);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-success:hover {
    background-color: darkgreen;
}

.form-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    max-width: 1000px;
}

.form-container h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.navbar__container-lists {
    display: flex;
    flex-direction: row;
}

.btn {
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #00701a;
    color: white;
    width: 100%;
    font-size: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}

/* Landing page */

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: ce;
}

.header__landing {
    margin-bottom: 0;
    font-size: 200px;
    color: var(--colorWhite);
    text-align: center;
    margin-top: -75px;
    margin-bottom: -40px;
}

.year__landing {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin-left: 11px;
    margin-bottom: -30px;
    font-size: 50px;
    color: var(--color1);
    text-align: center;
    text-shadow:
        0 0 10px var(--color1),
        0 0 10px var(--colorSuccess),
        0 0 20px var(--colorSuccess),
        0 0 40px var(--colorSuccess);
}


.subtitle__landing {
    margin-top: 0;
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow:
        0 0 10px var(--color1),
        0 0 10px var(--colorSuccess),
        0 0 20px var(--colorSuccess),
        0 0 40px var(--colorSuccess);
}

.container-banner {
    width: 100vw;
    height: 45vh;
    background-image: url('../img/Banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50%;
    min-height: 40rem;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}


/* Imágenes de fondo para las columnas */
.column1 {
    background-image: url('/src/assets/img/ImgLP1.jpg');
}

.column2 {
    background-image: url('/src/assets/img/ImgLP2.png');
}

.column3 {
    background-image: url('/src/assets/img/ImgLP2.png');
}

.column4 {
    background-image: url('/src/assets/img/ImgLP4.jpg');
}

.column5 {
    background-image: url('/src/assets/img/ImgLP5.jpg');
}

.column6 {
    background-image: url('/src/assets/img/ImgLP2.png');
}

.article_title {
    text-transform: uppercase;
    font-size: 100px;
    line-height: 1.0;
}

.article_subtitle {
    text-transform: uppercase;
    font-size: 40px;
    align-self: center;
    color: var(--colorWhite);

    text-shadow:
        0 0 10px var(--color1),
        0 0 10px var(--colorSuccess),
        0 0 20px var(--colorSuccess),
        0 0 40px var(--colorSuccess);

    -webkit-text-stroke: 1px var(--colorSuccess);
}

.article_under-title {
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;
    font-size: 25px;
}

.article_paragraph {
    margin-top: 20px 0px 20px 0px;
    justify-content: start;
    text-align: left;
}

.column:first-child {
    margin-left: 0;
}

.column:last-child {
    margin-right: 0;
}

/*Admin*/


/*Alta Vendedor*/

.alta-vendedor__container,
.alta-producto__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

/* Banner del héroe */
.container-banner__vendedor {
    width: 100vw;
    height: 20vh;
    background-image: url('../img/HeroAltaVendedor.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding: 0;
    filter: brightness(70%);
}

.header__vendedor,
.header__contacto {
    font-size: 10rem;
    font-weight: 200;
    margin-bottom: -64px;
    background-size: cover;
    background-position: center;
    color: var(--color1);
}

/* Estilo del formulario */
.alta-vendedor__form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alta-vendedor__form,
.alta-producto__form,
.contacto__form {
    background-image: url('../img/HeroAltaVendedor.png');
    min-width: 87%;
    min-height: 25vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 2rem;
    border-radius: 3.5rem 0.6rem 3rem 0.6rem;
    gap: 1rem;
}

.alta-vendedor__form,
.alta-producto__form {
    box-sizing: content-box;
}

.contacto__form {}

.alta-vendedor__form {
    margin-top: 3rem;
}

.alta-producto__form,
.contacto__form {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.alta-producto__form input,
.alta-producto__form textarea,
.contacto__form input,
.contacto__form textarea {
    min-width: 90%;
}

.alta-producto__form textarea,
.contacto__form textarea {
    height: 28vh;
    border-radius: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 1.1rem;
    color: var(--color5);
}

.form-group input {
    padding: 10px;
    border: 1px solid var(--color2);
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--color1);
    color: var(--color5);
}

/* Estilos del botón redondo */
.alta-vendedor__submit-button,
.alta-producto__submit-button,
.contacto__submit-button,
.edit-producto__submit-button {
    background-color: var(--color5);
    color: var(--colorWhite);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.alta-producto__submit-button,
.edit-producto__submit-button,
.contacto__submit-button {
    margin: 0 0 -0.4rem auto;
}

.contacto__submit-button {
    margin-top: 1.5rem;
}

.edit-producto__submit-button {
    height: 3.8rem;
    background-color: var(--colorGuardar);
    color: var(--colorBlack);
    padding: 0;
    border-radius: 5px;
    margin: 0 0.3rem 0.3rem 0;
}

.alta-producto__submit-button:hover,
.alta-vendedor__submit-button:hover,
.edit-producto__submit-button:hover,
.contacto__submit-button:hover {
    background-color: var(--color4);
    transform: scale(1.2);
}

.edit-producto__submit-button:hover {
    transform: scale(1.0);
    background-color: var(--colorGuardarHover);
}

.fa-plus {
    font-size: 1.7rem;
}

/*Profile Admin*/
.card-layout,
.card-layout__producto,
.card-layout__contacto {
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 2rem auto;
}


.card-title-vertical {
    color: var(--color1);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}

.card-title {
    color: var(--color1);
    font-size: 4rem;
    font-weight: 400;
    margin: 0;
}

.card-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.alta-producto__container,
.contacto__container {
    flex: 1;
    height: 100%;
}

.card {
    background-image: url('../img/HeroAltaVendedor.png');
    color: var(--color1);
    font-weight: 100;
    min-width: 87%;
    display: flex;
    justify-content: space-between;
    border-radius: 18px 2px 18px 2px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card h1,
h2,
h3,
h4 {
    font-weight: 200;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.edit-button,
.delete-button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 1rem;
}

.delete-button {
    background-color: var(--colorEliminar);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
    background-color: var(--colorEliminarHover);
    transform: scale(1.2);
}

.edit-button {
    background-color: var(--colorEditar);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-button:hover {
    background-color: var(--colorEditarHover);
    transform: scale(1.2);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-pagination {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 1rem 0 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrow-pagination:hover {
    background-color: var(--color5);
    transform: scale(1.2);
}

.arrow-pagination:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*Productos*/
.container-banner__productos,
.container-banner__contacto {
    width: 100vw;
    height: 20vh;
    background-image: url('../img/HeroAltaVendedor.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    padding: 0;
    filter: brightness(70%);
}

.header__productos,
.header__contacto {
    font-size: 10rem;
    font-weight: 200;
    margin-bottom: -64px;
    background-size: cover;
    background-position: center;
    color: var(--color1);
}

/*Editar*/
.edit-producto__form {
    width: 120%;
    max-width: 100vh;
    margin: 1rem 0 1rem 0;
}